body {
    background-color: #1E293B; 
    color: white;
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    padding: 3vh 0;
}

h1 {
    color: #F9FAFB;  
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 0.1em;  
}

.container {
    text-align: center;
    margin-top: 2vh;
}

input[type="text"],
input[type="submit"] {
    margin: 1.5vh 0;      
    padding: 1.5vh;        
    width: 30vh;            
    border: none;
    border-radius: 1.5vh; 
    font-size: 1.8vh;
    transition: all 0.3s ease-in-out;
}

input[type="text"] {
    background-color: rgba(255, 255, 255, 0.15); 
    color: #F9FAFB;
    border: 2px solid rgba(255, 255, 255, 0.3);
    outline: none;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.loginBtn{
    background-color: #4F46E5;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 2vh;
    width: 100px;
    padding: 10px;
}

input[type="text"]:hover, 
input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: #4F46E5;
}

input[type="submit"]:hover {
    background-color: #4338CA; 
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.boxA {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 60vw;
    background: rgba(255, 255, 255, 0.1);  
    color: #F9FAFB;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 25px;
    margin: 15px auto;
    line-height: 1.7;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.Canva {
    display: inline-block;
    background-color: #4F46E5;
    border-radius: 2vh;
    cursor: pointer;
    padding: 12px 25px;
    transition: 0.4s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.Canva a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.Canva:hover {
    transform: scale(1.1);
    background-color: #4338CA; 
}

a {
    transition: 0.3s ease-in-out;
}